In [1]:
print('hello')

hello

In [3]:
import pandas as pd
frame = {'A': pd.Series(list(range(1, 6)), index = ['a','b', 'c','d', 'e']),
'B': pd.Series(list(range(1, 7)), index = ['a','b', 'c','d', 'e', 'f'])}
frame = pd.DataFrame(frame)
frame['C'] = pd.Series([20, 40, 60, 0, 0, 0], index = ['a','b', 'c','d', 'e', 'f'])
frame['D'] = frame['A'] + frame['C']
display(frame)

     A  B   C     D
a  1.0  1  20  21.0
b  2.0  2  40  42.0
c  3.0  3  60  63.0
d  4.0  4   0   4.0
e  5.0  5   0   5.0
f  NaN  6   0   NaN

In [2]:
import numpy as np
r = np.array([[1,2,3], [4,2,3]])
print(id(r))
print(r.ndim)

304314112
2

In [2]:
import random
a = [random.randint(1, 30) for i in range(7)]
print(a)

[14, 7, 22, 1, 18, 27, 7]